<div class="row">
  <div class="col-10">
    <input (keyup)="findCalling()" type="text" class="form-control" [(ngModel)]="this.calling.name" name="calling" placeholder="Search or add calling...">
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="addCalling()">Add Calling</button>
  </div>
  <div class="col-12">
    <br />
    <ul *ngIf="getKeys(this.callingResults).length > 0">
      <li><b>Calling Results</b></li>
      <li *ngFor="let key of getKeys(this.callingResults)">
        {{ this.callingResults[key].name }} 
        <a (click)="addCallingToPerson(key)">Add To Person</a>
      </li>
    </ul>
  </div>
</div>
