div.interactive {
    h2 {
        font-size: 2em;
        font-weight: bold;
        line-height: 1em;
    }
}

div.interactive.inline {
    display: block;
    float: left;
    margin: 15px 25px 25px 0px;
    width: 300px;
}

@import "./list.scss";
@import "./timeline.scss";
@import "./navigational.scss";
@import "./faqs.scss";
@import "./bullets.scss";
@import "./slideshow.scss";
@import "./choropleth.scss";
@import "./lineGraph.scss";