section {
    margin-top: 25px;
    input,
    textarea {
        margin-bottom: 15px;
    }
}

ul {
    list-style: none;
    padding: 0px;
    li a {
        color: #007bff;
        cursor: pointer;
        margin-left: 15px;
    }
}